<div class="kontaktsheets ui-g">

<div class="header ui-g-12">

  <h2>
    Kontakt-Option
  </h2>
  <h3>
    <i class="pi pi-spin pi-envelope" style="font-size: 2rem"></i>  <a href="mailto:embrace@uggadunk.com">embrace@uggadunk.com</a><i class="pi pi-spin pi-envelope" style="font-size: 2rem"></i> (SysOp)
  </h3>

  <font size="xx-small">
  <i>Uggadunk, Sandlådan BBS, Nisses Stuga, Embracing Hitlist, Los Svullos, Imse, Vimse, A.C.O. Demo, ABC Massaker, Älghud, Bengt, this website, and much more, is the property of The Uggadunk Empire.</i>
  <br>
  <br>
  <br>
  Made with<br>
  <a href="http://angular.io" target="_blank"><img src="assets/img/logo-nav@2x.png" id="top-logo"/></a>
<br><br>
    &copy; Uggadunk V3.0, 2021<br><br>
  </font>
</div>
