<div class="kontaktsheets ui-g">

<div class="header ui-g-12">

  <h2>
    Kontakt-Option
  </h2>
  <h3>
    <a href="mailto:embrace@uggadunk.com"><i class="fa fa-envelope" style="font-size: 2rem"></i>&nbsp;embrace@uggadunk.com (SysOp)</a>
  </h3>

  <font size="xx-small">
  <i>Uggadunk, Sandlådan BBS, Nisses Stuga, Embracing Hitlist, Los Svullos, Imse, Vimse, A.C.O. Demo, ABC Massaker, Älghud, Bengt, this website, and much more, is the property of The Uggadunk Empire.</i>
  <br>
  <br>
  <br>
  Made with<br>
  <a href="http://angular.io" target="_blank"><img src="assets/img/logo-nav@2x.png" id="top-logo"/></a>
<br>
<br>
    <a href="https://github.com/EmbraceLtd/NewUggadunk" target="_blank"><i class="fa fa-github" style="font-size: 2rem"></i> Source @ github </a>
<br>
<br>
    &copy; Uggadunk V3.0, 2021<br><br>
  </font>
</div>
